<%- include("navbar.ejs") %>

<link rel="stylesheet" href="style/index.css" />
<link rel="stylesheet" href="style/About.css" />

<!-- {/* slide1 begins */} -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 slide1">
      <img src="uploads/About_bg.jpg" alt="" style="border: 5px solid white" />
    </div>
  </div>
</div>

<div class="container p-4 mb-3">
  <div class="row">
    <div class="col-md-12">
      <p>
        Welcome to the Group of Institutions, India’s leading K-12 chain of
        schools.
      </p>
      <p>
        We’re a group of schools dedicated to encouraging students to be
        themselves and explore beyond boundaries. We teach your children to
        think, explore, and learn with joy.
      </p>
      <p>
        Our first school in Mumbai was started in 1976, and since then Ryan
        International Group has grown and branched over a span of 47 years. Our
        core interests have since then developed but have remained in the sphere
        of quality education, commitment to excellence and shaping the future.
        Ryan International Group has established friendship institutions across
        the globe with the mission of taking its quality of education
        international. Altogether, we have 150+ institutions spread across India
        and abroad.
      </p>
    </div>
  </div>
</div>

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>GUIDING STATEMENTS</h2>
      <div class="line"></div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 mb-4">
          <h4 class="text-warning">Our Vision</h4>
          <p>
            we recognize the imperative of imparting an educational experience
            that is world-class in every respect and which prepares children for
            global citizenship. We are a school with an Indian mind, an Indian
            heart and an Indian soul; a school that celebrates the culture of
            excellence and is an embodiment of values. We believe that a
            curriculum of excellence with a global dimension is central to the
            education of children, so it prepares them to face the challenges of
            the 21st century with confidence and strength of character.
          </p>
        </div>
        <div class="col-md-12 mb-4">
          <h4 class="text-warning">Our Mission</h4>
          <p>
            The School's mission is to provide a learning environment that
            encourages children to bring out the best in themselves and enables
            their all-round development through the joy of learning, enduring
            values and the celebration of diversity.
          </p>
        </div>
        <div class="col-md-12">
          <h4 class="text-warning">Our Values and Attributes</h4>
          <p>
            Our values and attributes, which align with our guiding statements,
            are integral to creating a school culture and climate to realise our
            educational goals.
          </p>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>&#10022; Cleanliness</li>
                <li>&#10022; Compassion</li>
                <li>&#10022; Commitment</li>
                <li>&#10022; Determination</li>
                <li>&#10022; Honesty</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>&#10022; Perseverance</li>
                <li>&#10022; Respect</li>
                <li>&#10022; Responsibility</li>
                <li>&#10022; Self-Discipline</li>
                <li>&#10022; Teamwork</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="text-warning">Objectives</h4>
      <ul>
        <li class="mt-4">
          <span class="text-dark fs-6">&#10070;</span> To provide a safe, secure
          and conducive environment in which each child can dare to dream, enjoy
          learning, achieve excellence and become a lifelong learner.
        </li>
        <li class="mt-4">
          <span class="text-dark fs-6"> &#10070;</span> To provide a safe,
          secure and conducive environment in which each child can dare to
          dream, enjoy learning, achieve excellence and become a lifelong
          learner.
        </li>
        <li class="mt-4">
          <span class="text-dark fs-6"> &#10070;</span> To provide a safe,
          secure and conducive environment in which each child can dare to
          dream, enjoy learning, achieve excellence and become a lifelong
          learner.
        </li>
        <li class="mt-4">
          <span class="text-dark fs-6">&#10070;</span> To provide a safe, secure
          and conducive environment in which each child can dare to dream, enjoy
          learning, achieve excellence and become a lifelong learner.
        </li>
        <li class="mt-4">
          <span class="text-dark fs-6">&#10070;</span> To provide a safe, secure
          and conducive environment in which each child can dare to dream, enjoy
          learning, achieve excellence and become a lifelong learner.
        </li>
        <li class="mt-4">
          <span class="text-dark fs-6">&#10070;</span> To encourage children to
          develop the qualities of self-discipline, positive self-image,
          teamwork, spirit of adventure and leadership.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Our Inspiration</h2>
      <div class="line mb-4"></div>
    </div>
    <div class="col-md-12" style="background-color: #fcf5e5">
      <div class="row">
        <div class="col-md-4 p-0">
          <img
            src="uploads/inspiration.png"
            style="height: 450px; width: 100%"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body p-5">
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
              veritatis, quod minus aspernatur esse ex, veniam cupiditate odio
              deserunt itaque eum, totam rerum quam fuga porro assumenda placeat
              iure neque!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusamus voluptatibus earum, neque blanditiis quasi quidem fugiat
              ipsum maiores dolore similique nemo nihil cupiditate porro soluta
              laboriosam repellat modi nobis eveniet?
            </p>

            <h4>Shri Jyotiba Phule Vision</h4>
            <p>(28.12.1932 - 06.07.2002)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {/* slide3 begins */} -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 school mb-3">
      <h2>#1 RANKED PUBLIC HIGH SCHOOL IN THE STATE</h2>
      <div class="line mb-3"></div>
      <p>
        Our curriculum is geared toward scholars seeking to focus in science,
        technology, engineering, arts and mathematics. Our philosophy is to
        prepare our scholars now for the rigorous mathematics and science
        content they will be exposed to in college.
      </p>
    </div>

    <div class="col-md-12 mb-4">
      <div class="row">
        <div class="col-md-3">
          <div class="box">
            <img
              src="uploads/card1img.svg"
              class="card-img-top mt-3"
              alt="..."
            />
            <div class="card-body text-center">
              <h3 style="font-weight: 700">26</h3>
              <p>AP Classes Offered In 2023</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img
              src="uploads/card2img.svg"
              class="card-img-top mt-3"
              alt="..."
            />
            <div class="card-body text-center">
              <h3 style="font-weight: 700">12</h3>
              <p>Years Ranked #1 School In State</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img
              src="uploads/card3img.svg"
              class="card-img-top mt-3"
              alt="..."
            />
            <div class="card-body text-center">
              <h3 style="font-weight: 700">60</h3>
              <p>% of Faculty With Advanced Degrees</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img
              src="uploads/card4img.svg"
              class="card-img-top mt-3"
              alt="..."
            />
            <div class="card-body text-center">
              <h3 style="font-weight: 700">130</h3>
              <p>Colleges That Admitted 2023 Grads</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {/* slide5 begins */} -->
<div class="container testimonials mt-5">
  <div class="row">
    <div class="col-md-12 school">
      <h2>OUR REVIEWS</h2>
      <div class="line"></div>
    </div>
    <div class="col-md-12">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/<%=about_detail[0].testimonial_img%>" alt="..." />
            <div class="carousel-caption">
              <h5><%=about_detail[0].testimonial_name%></h5>
              <p><%=about_detail[0].testimonial_details%></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/<%=about_detail[1].testimonial_img%>" alt="..." />
            <div class="carousel-caption">
              <h5><%=about_detail[1].testimonial_name%></h5>
              <p><%=about_detail[1].testimonial_details%></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/<%=about_detail[2].testimonial_img%>" alt="..." />
            <div class="carousel-caption">
              <h5><%=about_detail[2].testimonial_name%></h5>
              <p><%=about_detail[2].testimonial_details%></p>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<%- include("footer.ejs") %>
