<%- include ("navbar.ejs") %>
<link rel="stylesheet" href="style/Career.css" />
<link rel="stylesheet" href="style/index.css" />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 slide1">
      <img src="uploads/FacultyBg.jpg" alt="" style="border: 5px solid white" />
    </div>
  </div>
</div>

<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>career @ school</h2>
      <div class="line mb-3"></div>
    </div>
    <!-- <div class="col-md-12">
      <iframe
        width="100%"
        height="450"
        src="https://www.youtube.com/embed/NLIp_qNVtoc?si=hJUqIWrGSViC_sEf&amp;controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div> -->
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae minima
        cum impedit aliquid itaque distinctio libero omnis atque adipisci, in
        consequuntur natus maiores odio perspiciatis id asperiores cumque quam
        quod.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque unde
        commodi veritatis error ullam quam omnis non nam, id molestiae illo nisi
        suscipit hic porro at a ea consectetur qui!
      </p>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rerum
            enim necessitatibus ut labore voluptas, ipsa magnam eligendi eum
            sequi. Ea debitis esse voluptates et sed rerum magnam quaerat quo?
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            natus delectus, iste sunt atque officiis quisquam neque sint
            temporibus impedit facilis nostrum, sapiente quasi quas deleniti
            voluptate, voluptates doloribus ut.
          </p>
        </div>
        <div class="col-md-12 mb-3 mt-3">
          <img src="uploads/careers-1.jpg" alt="" />
          <h6>Our Staff</h6>
          <p>
            Our staff come from all parts of the World and also from different
            parts of India. Most of our Expatriate staff come from areas where
            IBDP is taught. We have staff members from North America, Europe and
            Africa. We also have Teachers teaching the IB curriculum come from
            other parts of India as well. For our National Curriculum (ICSE), we
            have Teachers come from Mumbai and its suburbs and also from other
            parts of India as well (Teaching at DAIS).
          </p>
        </div>
        <div class="col-md-12">
          <h6>
            Apart from the compensation DAIS provides other benefits to our
            Teaching staff like:
          </h6>
          <ul>
            <li>
              <span class="fs-5 text-dark">&#10022; </span> Semi Furnished
              Accommodation to non-local staff.
            </li>
            <li>
              <span class="fs-5 text-dark">&#10022; </span>
              Joining and Terminal travel for Expatriate staff and joining
              travel for National staff.
            </li>
            <li>
              <span class="fs-5 text-dark">&#10022; </span>
              Child education benefit as per the Education policy of the School.
            </li>
            <li>
              <span class="fs-5 text-dark">&#10022; </span>Mediclaim Insurance
              for self and family.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row career-req">
        <div class="col-md-12 pt-3">
          <p style="font-size: 13px; color: white; font-weight: 600">
            If you are interested please look at our current openings in various
            areas of the School.
          </p>
          <hr />
        </div>
        <a href="/images/<%=career_data[0].pdf_1%>">
          <div class="col-md-12 ul">
            <img src="uploads/job.png" alt="" />Teacher Requirement 2023
          </div>
        </a>

        <a href="/images/<%=career_data[0].pdf_2%>">
          <div class="col-md-12 ul">
            <img src="uploads/job.png" alt="" />Primary School
          </div>
        </a>

        <a href="/images/<%=career_data[0].pdf_3%>">
          <div class="col-md-12 ul">
            <img src="uploads/job.png" alt="" />Middle School
          </div>
        </a>

        <a href="/images/<%=career_data[0].pdf_4%>">
          <div class="col-md-12 ul">
            <img src="uploads/job.png" alt="" />High School
          </div>
        </a>

        <a href="/images/<%=career_data[0].pdf_5%>">
          <div class="col-md-12 ul">
            <img src="uploads/job.png" alt="" />Non-Teaching Staff
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include ("footer.ejs") %>
